<div class="b-example-divider"></div>

<main class="d-flex flex-nowrap">

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-5" style="text-align: center;">Tableau de board medecin</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/board/medecin " [routerLink]="['/board/medecin']" routerLinkActive="router-link-active" class="nav-link active" aria-current="page">
                    Tableau de board
                </a>
            </li>
            <li>
                <a href="/cabinet " [routerLink]="['/cabinet']" class="nav-link link-body-emphasis">
                    Information cabinet
                </a>
            </li>
            <li>
                <a href="/conseils " [routerLink]="['/conseils']" class="nav-link link-body-emphasis">
                    <span>Répondre conseil</span>
                </a>
            </li>

        </ul>
        <hr>

    </div>

    <div class="b-example-divider b-example-vr"></div>

    <!-- partie right-->

    <section class="right">

        <ng-container *appSpinner="loading">
            <app-spinner></app-spinner>
        </ng-container>

        <ng-container class="container" *ngIf="!loading">

        </ng-container>
    </section>
</main>

<script>
    /* global bootstrap: false */
    (() => {
        'use strict'
        const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(tooltipTriggerEl => {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()
</script>